@charset "utf-8";

*{
	font-family: Arial,san-serif;
 }


form
{
	width:350px; 
	background:#FFF; 
	border-radius:10px; 
	margin: 100px 200px 100px 400px;
}

#dang-nhap img
{
	display: block;
	
  	border: 0.1875em solid #0F1C3F;
  	border-radius: 50%;
  	box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  	height: 5em;
  	width: 5em;
	float: right;
	margin-bottom: 10px;
	
}
		
@media all and (max-width: 480px) {

}

@media all and (max-width: 1024px) {
}		
